<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <form #signupForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" name="displayName"  [(ngModel)]="displayName" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Surname</ion-label>
        <ion-input type="text" name="surname"  [(ngModel)]="surname" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" >Email</ion-label>
        <ion-input type="email" name="email" [(ngModel)]="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Pick date</ion-label>
        <ion-datetime
          displayFormat="DD.MM.YYYY"
          presentation="date"
          type="ion-datetime" name="birthDate" [(ngModel)]="birthDate" required
        ></ion-datetime>
      </ion-item>
    </ion-list>
    <ion-button expand="block"  (click)="signup()">Sign Up</ion-button>
    


  
  
  </form>


  <div class="ion-text-center">
    Already have an account? <a routerLink="/login">Log in</a>
  </div> 

</ion-content>
